<div>  
  <mat-nav-list>
      <mat-list-item *ngFor="let question of questions; index as i">
          <h4 matLine>MadhuPriya.... Q.{{i+1}}.{{question.statement}}</h4>
          <mat-list-item *ngFor="let option of question.options; index as j">
              <mat-radio-group>
                  <mat-radio-button value=[{j+1}]>{{option}}</mat-radio-button>
              </mat-radio-group>
          </mat-list-item>
      </mat-list-item>
 </mat-nav-list>
 <button
    mat-raised-button
>
    SUBMIT
</button>
</div>
