.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
  }
  
  [class*="col-"] {
    width: 100%;
  }
  
  @media only screen and (min-width: 768px) {
    .col-1 {
      width: 8%;
    }
    .col-2 {
      width: 16%;
    }
    .col-3 {
      width: 25%;
    }
    .col-4 {
      width: 33%;
    }
    .col-5 {
      width: 41%;
    }
    .col-6 {
      width: 50%;
    }
    .col-7 {
      width: 58%;
    }
    .col-8 {
      width: 66%;
    }
    .col-9 {
      width: 75%;
    }
    .col-10 {
      width: 83%;
    }
    .col-11 {
      width: 91%;
    }
    .col-12 {
      width: 100%;
    }
  }
  
  .p-15 {
    padding: 15px !important;
  }
  
  .py-10 {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
  }

  .p-10 {
    padding: 10px !important;
  }
  
  .p-5 {
    padding: 5px !important;
  }

  .m-15 {
    margin: 15px !important;
  }
  
  .m-10 {
    margin: 10px !important;
  }
  
  .m-5 {
    margin: 5px !important;
  }

.mat-stepper-horizontal,
.mat-stepper-vertical {
  background: rgba(0, 0, 0,0);
}

.mat-step-header,
.mat-step-label {
  display: none !important;
 }

.mat-horizontal-stepper-content{
    text-align: center !important;
  }

.mat-standard-chip {
    margin: auto !important;
    height: auto !important;
    border-radius: 70px !important;
    font-size: 18px;
    letter-spacing: 3px;
}

.mat-horizontal-content-container {
    height: auto !important;
}

.nav-btn {
    background: black !important;
    color: white !important;
    margin: 10px !important;
    border-radius: 50px !important;
    font-size: 20px;
    letter-spacing: 2px;
    padding-left: 20px !important;
    padding-right: 20px !important;
}

.nav-btn:hover{
    box-shadow: 5px 5px 5px black;
}

.w-100 {
  width: 100% !important;
}

.question-chip {
  padding: 20px !important;
  cursor: pointer !important;
  pointer-events: none !important;
  min-height: 100px !important;
  width: 100% !important;
}

.option-list {
    text-align: center !important;
}

.center {
    text-align: center !important;
}

.options {
    margin: auto !important;
}

.option-chip {
    cursor: pointer !important;
    width: 100% !important;
}

.option-chip:hover {
    box-shadow: 10px 12px 10px black !important;
}

#game-window {
    background: #3C3B3F;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top left, rgb(92, 90, 90), rgb(10, 10, 10));  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top left, rgb(92, 90, 90), rgb(10, 10, 10)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

@media only screen and (min-width: 769px) {
  .question-chip {
    min-height: 125px !important;
    width: 1270px !important;
  }
  .option-chip {
    min-height: 90px !important;
    width: 500px !important;
  }
}

@media only screen and (max-width: 768px) {
  .question-chip {
    width: 100% !important;
  }
  .option-chip {
    width: 100% !important;
  }
  .mat-chip-list-wrapper {
    width: 100% !important;
    text-align: center !important;
  }
}

.mb-20 {
  margin-bottom: 20px !important;
}

.mt-20 {
  margin-top: 20px !important;
}

.mt-10 {
  margin-top: 10px !important;
}
.mb-40 {
  margin-bottom: 40px !important;
}

.mat-stepper-horizontal-line {
  display: none !important;
}

.d-inline {
  display: inline !important;
}

.d-none {
  display: none !important;
}

.correct-answer {
  background-color: green !important;
}

.wrong-answer {
  background-color: red !important;
}

.text-center {
  text-align: center !important;
}

.m-auto {
  margin: auto !important;
  pointer-events: none !important;
}

.disable-click {
  pointer-events: none !important;
}

.current-q {
  font-size: 30px !important;
  font-weight: 900 !important;
  padding-left: 16px !important;
  border: 2px solid white !important;
  background-color: black !important;
}

.mat-progress-bar {
  margin: auto !important;
  height: 12px !important;
  border-radius: 50px !important;
  border: 1px solid white !important;
  width: 80% !important;
}
.mat-progress-bar-fill::after {
  background-color: black !important;
}

.time-left {
  text-align: center !important;
  color: aliceblue !important;
  background-color: black !important;
  margin: auto !important;
  padding: 15px !important;
  border: 1px solid white !important;
}

.emoji {
  width: 100px !important;
  height: 100px !important;
}

.emojis {
  z-index: 999 !important;
  position: relative !important;
}

@media only screen and (min-width: 768px) {
  .emojis {
    bottom: 220px !important;
  }

  .time-bar {
    margin-top: 35px !important;
  }

  #game-window {
    min-height: 97vh !important;
    overflow: hidden !important;
  }
}

.game-result {
  color: aliceblue;
}

.result-card {
  text-align: left;
  box-shadow: 0px 0px 25px black !important;
}

.star {
  height: 50px;
  width: 70px;
}

#loading {
  height: 100vh !important;
  background: #3C3B3F;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top left, rgb(92, 90, 90), rgb(10, 10, 10));  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top left, rgb(92, 90, 90), rgb(10, 10, 10)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: whitesmoke;
}

.mat-spinner circle {
  stroke: black;
}

.inline {
  display: inline !important;
}

.center {
  margin: auto !important;
  text-align: center !important;
}

// #exit {
//   bottom: -30px;
//   right: -630px;
// }

// button {
//   margin-right: -70px !important;
// }

#backchip {
  top: 5px;
  left: 5px;
  background-color: black;
  cursor: pointer;
}

.gamecard{
  box-shadow: 10px 19px 38px rgba(0,0,0,0.30), 10px 15px 12px rgba(0,0,0,0.22);
  background-color: #111111;
  margin: 28px;
  height: 300px;
  width: 300px;
  border-radius: 15px;
}
 .gamecard img {
 
   height: 200px;
   width: 500px;
   max-width: 100%;
   border-top-left-radius: 15px;
   border-top-right-radius: 15px;
   
 }
 .gamecard .text {
   text-align: center;
   margin-top: -10px;
    color: #ccaa2b;   
 }