<section id="game-window" class="p-15">
  <article class="mt-20" [ngClass]="{ 'd-none': gameFinished }">
    <section class="row text-center">
      <article class="col-2">
        <mat-chip-list class="p-10">
          <mat-chip color="primary" class="time-left" selected
            >Total Questions : {{ game.numOfQuestion }}</mat-chip
          >
        </mat-chip-list>
      </article>
      <article class="col-8">
        <section>
          <h1></h1>
        </section>
        <section class="time-bar">
          <mat-progress-bar mode="determinate" [value]="timeBar">
          </mat-progress-bar>
        </section>
      </article>
      <article class="col-2">
        <mat-chip-list class="p-10">
          <mat-chip class="time-left" selected>
            {{ math.floor(timeLeft / 60) }} min : {{ timeLeft % 60 }} sec Left
          </mat-chip>
        </mat-chip-list>
      </article>
    </section>
    <section class="row text-center" [ngClass]="{ 'd-none': gameFinished }">
      <article class="col-12">
        <mat-chip-list class="p-5">
          <mat-chip color="primary" class="current-q" selected>{{
            currentQuestionNumber
          }}</mat-chip>
        </mat-chip-list>
      </article>
    </section>
  </article>
  <article>
    <mat-horizontal-stepper #stepper>
      <mat-step *ngFor="let question of questions; let i = index">
        <ng-template matStepLabel>Question {{ i }}</ng-template>
        <mat-chip-list class="row mb-40 mt-20">
          <section col="col-12">
            <article class="py-10">
              <mat-chip class="question-chip" selectable="false" DisableRipple>
                <section class="w-100">
                  {{ question.statement }}
                </section>
              </mat-chip>
            </article>
          </section>
        </mat-chip-list>
        <mat-chip-list class="row" multiple="true" #optionChipList>
          <section
            class="col-6"
            *ngFor="let option of question.options; let j = index"
          >
            <article class="p-15">
              <mat-chip
                class="m-15 option-chip p-15 text-center"
                #chip
                (click)="selectdAnswer(i, j, optionChipList, $event, emoji)"
              >
                <span class="m-auto">{{ j + 1 }}. {{ option }}</span>
              </mat-chip>
            </article>
          </section>
        </mat-chip-list>
        <section>
          <button
            mat-raised-button
            color="primary"
            class="nav-btn"
            (click)="backStepper(stepper)"
            [ngClass]="{ 'd-none': firstQuestion }"
          >
            Back
          </button>
          <button
            mat-raised-button
            color="primary"
            class="nav-btn"
            (click)="nextStepper(stepper)"
            [ngClass]="{ 'd-none': lastQuestion }"
          >
            Next
          </button>
          <button
            mat-raised-button
            color="primary"
            class="nav-btn"
            (click)="submitGame()"
            [ngClass]="{ 'd-none': !lastQuestion }"
          >
            Done
          </button>
        </section>
        <section class="emojis">
          <img
            src="../../../../assets/images/emojiThinking"
            alt="Emoji"
            class="emoji"
            #emoji
          />
        </section>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Time Up</ng-template>
        <section class="game-result">
          <section class="row">
            <mat-card class="result-card col-3">
              <mat-card-header>
                <mat-card-title><h2>{{ playerName }}</h2></mat-card-title>
                <mat-card-subtitle><h3>Game : {{ game.name }}</h3></mat-card-subtitle>
              </mat-card-header>
              <section>
                  <img *ngFor="let star of resultStar" src="{{ star }}" alt="Stars" class="star">
              </section>
              <mat-card-header>
                  <mat-card-title><h4>Total Questions : {{ game.numOfQuestion }}</h4></mat-card-title>
                  <mat-card-title><h4>Player Attempted : {{ playerAttempted }}</h4></mat-card-title>
                  <mat-card-title><h4>Right Answers : {{ playerAttemptedRight }}</h4></mat-card-title>
                  <mat-card-title><h4>Wrong Answers : {{ playerAttemptedWrong }}</h4></mat-card-title>
                  <mat-card-title><h4>Game Score : {{ gameScore }}</h4></mat-card-title>
                  <mat-card-title><h4>Player's Score : {{ playerScore }}</h4></mat-card-title>
              </mat-card-header>
            </mat-card>
          </section>
        </section>
        <section>
          <button
            mat-raised-button
            color="primary"
            class="nav-btn"
            matTooltip="Like It"
          >
            <i class="material-icons">
              favorite_border
            </i>
          </button>
          <button
            mat-raised-button
            color="primary"
            class="nav-btn"
            matTooltip="Play Again"
            (click)="rePlay()"
          >
            <i class="material-icons">
              replay
            </i>
          </button>
        </section>
      </mat-step>
    </mat-horizontal-stepper>
  </article>
</section>
