.container{
    display: flex;
    // width: 80%;
    // height: 100%;
    bottom: 300px;
    margin: 10px;
    padding: 20px;
    padding-top:150px;
    
  }
  

  .example-card
  { 
    margin: 20px;
    height: 200px;
    box-shadow: 5px 5px black;
    background-color: rgb(201, 202, 196);
    padding: 5px;
  }

  .mid
  {
    margin-left: 45%;
  }


  // .example-card
  // {
  //     width: 300px;
  // }

  .btn{
  
    width: 100px;
    height: 30px;
    margin-left: 40%;
    margin-bottom: -30px;
  }
  