::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  color: black !important;
  // opacity: 1!important;
}
::ng-deep .mat-input-element {
  caret-color:whitesmoke !important;
}
::ng-deep .mat-form-field-invalid .mat-input-element,
.mat-warn .mat-input-element {
  caret-color: black !important;
}
::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
  color: black !important;
}
::ng-deep .mat-form-field.mat-form-field-invalid .mat-form-field-label {
  color: black !important;
}

mat-form-field {
  color: black;
  width: 300px;
}
mat-form-field {
  .mat-hint,
  input,
  ::placeholder,
  .mat-form-field-label {
    color: black;
  }
}

.container {
  background-image: url("../../../../assets/images/login3.jpg");
  overflow: hidden;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding-top: 150px;
  padding-bottom: 50px;
 width: 100%;
 min-height: 98vh;
}
.signup{
  float: left;
  width: 50%;
  
}
.login{
  float: left;
  width:30%;
  // margin-left: 150px;
}
.log{
  position: relative;
  width: 80%;
  height: 400px;
  // margin-top: 200px;
  // margin-bottom:150px;
  // margin-left: 100px !important;
}
.btn {
  width: 60%;
  font-size: 24px;
  border: 2px solid black;
  color: black;
  background-color: white;
  // margin-left: 50px;
  // margin-top: 10px;
  
}
.z-depth-3{
  box-shadow: 0 0 20px 2px whitesmoke;
  height: 300px;
  width: 350px;
  margin-top: 30px;
  padding: 20px;

}
.z-depth-3 h2{
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  margin-bottom: 20px;
}
.reg{
  height:100px;
  width:300px;
  // margin:180px;
  color: white;

}
.reg p{
  font-size: 20px;
}
.btn1{
  // margin-left:80px;
  width: 120px;
  box-shadow: 0 0 20px 2px whitesmoke;
  font-size: 24px;
  background-color: white !important;
}

.row {
  display: flex !important;
  flex-direction: row !important;
  flex-wrap: wrap !important;
  justify-content: center !important;
  width: 100% !important;
}

[class*="col-"] {
  width: 100% !important;
}

@media only screen and (min-width: 768px) {
  .col-1 {
    width: 8.33% !important;
  }
  .col-2 {
    width: 16.66% !important;
  }
  .col-3 {
    width: 25% !important;
  }
  .col-4 {
    width: 33.33% !important;
  }
  .col-5 {
    width: 41.66% !important;
  }
  .col-6 {
    width: 50% !important;
  }
  .col-7 {
    width: 58.33% !important;
  }
  .col-8 {
    width: 66.66% !important;
  }
  .col-9 {
    width: 75% !important;
  }
  .col-10 {
    width: 83.33% !important;
  }
  .col-11 {
    width: 91.66% !important;
  }
  .col-12 {
    width: 100% !important;
  }
}

.p-20 {
    padding: 20px !important;
}

.p-15 {
  padding: 15px !important;
}

.p-10 {
  padding: 10px !important;
}

.p-5 {
  padding: 5px !important;
}

.p-auto {
    padding: auto !important;
}

.m-20 {
    margin: 20px !important;
}

.m-15 {
  margin: 15px !important;
}

.m-10 {
  margin: 10px !important;
}

.m-5 {
  margin: 5px !important;
}

.m-auto {
    margin: auto !important;
}

.p-auto {
  padding: auto !important;
}

.t-center {
  text-align: center !important;
}