<app-header></app-header>

<div class="container" >
  <!-- <div class="pics"> -->
    
  <form [formGroup]="user" (ngSubmit)="login()">
   <mat-form-field appearance="outline" class="id">
    <mat-label>Username</mat-label>
    <input matInput placeholder="Enter your username" type="text" class="name"
     formControlName="name" required [(ngModel)]="name" />
    <mat-hint></mat-hint>
   </mat-form-field>
   <mat-form-field appearance="outline" class="password" >
    <mat-label>Password</mat-label>
    <input matInput placeholder="Password" type="password" 
     formControlName="password" required  [(ngModel)]="password"/>
   <mat-hint></mat-hint>
   </mat-form-field>
   <!-- <div mat-card-action > -->
   <button mat-raised-button class = "btn" color="" type="submit" [disabled]="!user.valid" (click) = "login()">Login</button>
   <p>Not An Existing  User?</p>
   <button mat-raised-button class="btn1" [routerLink]="[ '/register' ]" color="">Register</button>
  <!-- </div> -->
  </form>
  <!-- </div> -->
  </div>

<app-footer></app-footer>

