::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  color: whitesmoke!important;
  // opacity: 1!important;
}
::ng-deep .mat-input-element {
  caret-color: whitesmoke!important;
}
::ng-deep .mat-form-field-invalid .mat-input-element, .mat-warn .mat-input-element {
  caret-color: whitesmoke!important;
}
::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
  color: whitesmoke!important;
}
::ng-deep .mat-form-field.mat-form-field-invalid .mat-form-field-label {
  color: whitesmoke!important;
}
h1{
  margin-top:100px;
 
 padding-left: 1000px;

}
 mat-form-field{
 color: white;
 }
 mat-form-field {
  .mat-hint, input, ::placeholder, .mat-form-field-label {
     color: white;
  }
}


.id
{

 margin-left: 1050px;
 padding-top: 80px;
 clear: both;
}
.password{
  
  margin-left: 1050px;

}
.btn {
  margin-left: 66%;
  width: 10%;
  font-size: 20px;
}
p{
  color: whitesmoke;
 font-size: 20px;
 padding-left: 65%;
 position: relative;
 
}
.btn1{


position: relative;
 width: 10%;
 font-size: 20px;
 
 margin-left: 66%;
 margin-top: 3%;
 
}
mat-label{
font-size: 20px;
}

.container {
 background-image: url('../../../../assets/images/login3.jpg');
// opacity: 0.7;
 height: 640px;
overflow: hidden;
 background-position: center;
background-repeat: no-repeat;
background-size: cover;

 position: relative;
margin-top: 80px;
margin-left: -100px;
 margin-right: -7px;

}
