<header>
       
    <div class="wrap">
        <mat-card-actions>
            
            <button mat-raised-button (click)="Signup()">Signup</button>
            </mat-card-actions>
    </div>
    <h1>Quizify</h1>
    
    <mat-form-field appearance="inline" >
        <div class="box">
            <input matInput placeholder="Search for quizes" (input)="search($event.target.value)">
            <mat-icon  matSuffix>search</mat-icon>
          </div>
        </mat-form-field>
        <!-- <div class="img">
                <img mat-card-image src="https://img.freepik.com/free-vector/background-test-elements-flat-design_23-2147596141.jpg?size=338&ext=jpg" alt="Photo of a Shiba Inu" height="40px" width="40px">
            </div> -->
    </header>
