<header>

        <div class="logo">
    
         <a href="/" >
    
             <img src="../../../../assets/images/logo1.png" height="65px" width="123">
    
         </a>
    
        </div>
 
        <div class="wrap"  *ngIf=userLogged>
            <mat-card-actions>
               <button mat-raised-button color="" [routerLink]="[ '/login']">Login</button>
              
            </mat-card-actions>
         </div>
         <div class="wrap" *ngIf=flag >
    <button  mat-button [matMenuTriggerFor]="menu" class="menubar"><img class="icon" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR-qjSucdFkW71mPwZo2BNOYH6Lyip1zMTt3SzojGW1mh0408Dn" alt="icon-pic"></button> 
                <mat-menu #menu="matMenu">
               <button mat-menu-item  [routerLink]="[ '/profileuser']">profile</button>
               <button mat-menu-item (click)='logout()'>logout</button>
                  
                </mat-menu>
           
         </div>
         <h1>Quizifiy</h1>
         <p >Are you up to the challenge ??</p>
         
    
        
    
         
    
         <mat-form-field appearance="inline" >
    
             <div class="box">
    
                 <input matInput placeholder="Search for quizes" (input)="search($event.target.value)">
    
                 <mat-icon  matSuffix>search</mat-icon>
    
             </div>
    
         </mat-form-field>
    
    
     </header>
    
