
//  media querry

 #header{
  z-index: 1;
  width: 100%;
  background-color: black !important;
  opacity: 0.9;
  position: fixed;
  height: 10%;
  margin-top: 0%;

  }
.logobar{
  width:70%;
  height: 100%;
  background-color: blue;
  float: left;

}
#logo{
  width: 10%;
  height: 100%;
  margin-left: 0.5%;

}


#name{
  color: #ccaa2b;
  font-size: 30px;
  font-weight: bold;
  transform: translate(-50%, -50%);
  mix-blend-mode: screen; 

}
#slogan {
  color:whitesmoke;
  font-size: 20px;
  font-style: oblique;
  font-family: cursive;
  transform: translate(-50%, -50%);
  mix-blend-mode: screen; 

}
.wrap
 {
  background-color: green;
  width:30%;
  height:100%;
  float: left;

}

// .button{
//   background-color: black;
//   color: #ccaa2b;
//   border: 2px solid #ccaa2b;
//   font-size: 25px;
// }
// .icon{
//   height: 50%;
//   width: 50%;

// }

// @media only screen and (max-width: 698px) {
//   #header{
//     width:100%;
//   z-index: 100;
//   position: fixed;
//   height: 10%;
//   }
//   #logo{
//     width: 10%;
//     height: 15%;
//     margin-top:10px;
//     margin-left:12px;

//   }
//   #name{
//     font-size: 30px;
//     text-align: center;
//   }
//   #slogan{
//     font-size: 12px;
//   }
//   .wrap{
//     margin-right: 70px;
//     margin-top: -40px;
//     width: 10px;
//   }
//   .button{
//     font-size: 14px;
//   }
//   .icon{
//     height: 60px;
//     width: 60px;
//     margin-top: -15px;
//     margin-right: -10px;
  
//   }
// }
