
//  media querry

 #header{
  z-index: 100;
  width: 100%;
  background-color: black !important;
  position: fixed;
  height: 10%;
 }

#logo{
  margin-left: 2%;
  margin-top: 0.25%;
  width: 5%;
  height: 3%;
  color: #ccaa2b;
  margin-left: 0.5%;
}


#name{
  color: #ccaa2b;
  font-size: 2vw;
  font-weight: bold;
  width: 50%;
  text-align: center;
  position: absolute;
  top: 30%;
  left: 45%;
  transform: translate(-50%, -50%);
  mix-blend-mode: screen; 
}
#slogan {
  color:whitesmoke;
  font-size: 1.2vw;
  font-style: oblique;
  font-family: cursive;
  width: 50%;
  text-align: center;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  mix-blend-mode: screen; 
}
.wrap
 {
  float: right;
  padding-right: 2.5%;
  margin-top: -60px ;
}

.button{
  background-color: black;
  color: #ccaa2b;
  border: 2px solid #ccaa2b;
  font-size: 25px;
}

@media only screen and (max-width: 698px) {
  #header{
    width:100%;
  z-index: 100;
  position: fixed;
  height: 10%;
  }
  #logo{
    width: 10%;
    height: 15%;
    margin-top:10px;
    margin-left:12px;

  }
  #name{
    font-size: 30px;
    text-align: center;
  }
  #slogan{
    font-size: 12px;
  }
  .wrap{
    margin-right: 70px;
    margin-top: -35px;
    width: 10px;
  }
  .button{
    font-size: 14px;
  }
}