<header id="header">
    <div class="logobar" >
        <a href="/" >
            <img id="logo" src="../../../../assets/images/Quizify.jpg">
        </a>
        <h1 id="logoname">
        <p id="name">QUIZIFY</p>
        <p id="slogan">are you up to the challenge...?</p>
        </h1>
    </div>

    <div class="wrap"  *ngIf=userLogged>
        <mat-card-actions >
            <button class="button" mat-raised-button color="" [routerLink]="[ '/login']">Login</button>        
        </mat-card-actions>
    </div>
    <div class="wrap" *ngIf=flag >
        <button  mat-button [matMenuTriggerFor]="menu" class="menubar"><img class="icon" src="../../../../assets/images/gender.png" alt="icon-pic"></button>
        <mat-menu #menu="matMenu">
            <button class="button1" mat-menu-item  [routerLink]="[ '/profileuser']">profile</button>
            <button class="button1" mat-menu-item (click)='logout()'>logout</button>          
        </mat-menu>   
    </div>
</header>
    
