
#card{
  background:rgba(0, 0, 0,0);
  width: 100%;
  margin-top: 0px;
}

#cardcarousel{
  margin-left: 80px;
  width:90%;
  background:rgba(0, 0, 0,0);
  // height:400px;
}
.carousel-inner > .item > img
  {
    width: 100%;
    height: 300px;
    margin: auto;
  }
.cards{
  width: 100%;
  margin-top: 100px;
  background: rgba(0, 0, 0,0);
  display: inline-block;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
}

.gamecard{
  box-shadow: 10px 19px 38px rgba(0,0,0,0.30), 10px 15px 12px rgba(0,0,0,0.22);
  background-color: white;
  margin: 10px;
  height: 300px;
   width: 320px;
}
 .gamecard img {
 
   height: 180px;
   width: 500px;
   max-width: 100%;
 }
 .gamecard .text {
   text-decoration-color: white;
   text-align: center;
 }
 .gamecard .text > button {
   background-color: gray;
   border: 0;
   color: white;
   padding: 10px;
   width: 100%;
   }
 
   * {
     box-sizing: border-box;
   }
  
  .mat-raised-button:not([class*=mat-elevation-z]) {
   border-radius: 20px;
   box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
   bottom: 2px;
 }