
<!-- <app-header></app-header>
<div class="container">
<div *ngFor="let q of quiz">
  <mat-card class="example-card">
    <img mat-card-image src="{{ q.image_Url }}" alt="Photo " />
    <div class="overlay">
      <div class="text">
        <ul >
          <li>{{ q.GameId }}</li>
          <li>{{ q.Name }}</li>
          <img class="sub-image" src="{{ q.image_Url }}" />
        </ul>
      </div>
    </div>
  </mat-card>
  <mat-card-actions>
      <i class="material-icons" >
        favorite play_arrow settings
      </i>
    </mat-card-actions>
</div>
</div> -->

<!-- <app-header></app-header> -->
<div class="container">
<div *ngFor="let q of quiz">
<mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{ q.Description }}</mat-card-title>
      <mat-card-subtitle>{{ q.Name }}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="{{ q.image_Url }}" alt="Game image">
    <mat-card-content>
          <mat-card-actions>
              <button mat-button>LIKE</button>
              <button mat-button>PLAY</button>
              <button mat-button>DETAILS</button>
            </mat-card-actions>
      
    </mat-card-content>
    </mat-card>
</div>
</div>