<!-- <app-header></app-header> -->
<app-search></app-search>



<div class="row" fxLayout.xs="column">
 <div fxLayout="" fxLayoutGap="32px" fxLayoutAlign="flex-start" *ngFor='let q of quiz'>
     <div fxFlex="20%">
 <mat-card class='product--blue'>
   <mat-card-header>

       <img mat-card-image src="{{q.imageUrl}}" alt="">
       <mat-card-title>
           {{q.gameName}}
       </mat-card-title>
       <mat-card-actions align="center">
           <button mat-raised-button>LIKE</button>
           <button mat-raised-button>PLAY</button>
           <button mat-raised-button  [routerLink]="[ '/gamedetails']">DETAILS</button>
       </mat-card-actions>
 </mat-card-header>
</mat-card>
</div>
 </div>
</div>