<app-header></app-header>


  
<div class="card">
    
<mat-card class="card1">
    
    <mat-toolbar class="s1" style=" flex: 1 1 auto;">
        <span>Rules:</span>
    </mat-toolbar>
    <ul id ="rules">
        <li [class]="rule">Number of Questions are fixed.</li>
        <li [class]="rule">You cannot Go back to the previous question.</li>
        <li [class]="rule">Time is also fixed.</li>
        <li [class]="rule">Switching to another window is stricted.</li>
        <li [class]="rule">One Quiz can be played at a time.</li>
    </ul>
    
    <!-- This fills the remaining space of the current row -->
    
<div class="njoy">
<button class="button1" mat-raised-button [routerLink]="[ '/cards' ]" color="primary">Cancel</button>
<button class="button2" mat-raised-button (click)="startGame()" color="primary">Start Game</button>
</div>
</mat-card>
</div>

<app-footer></app-footer>
