
.card1{

  width: 600px;
  height: 400px;
  box-shadow: 0.5px 0.5px 0.5px 0.5px whitesmoke;
  border-radius: 5px;
  margin: 1em;
  position: relative;
  flex: auto;
  padding-top: 75px;
  margin-left: 470px;
  margin-right: 300px;
  opacity: 0.4px;
  background-color: rgb(128, 118, 118);
  font-size: 20px;
  line-height: 33px;
  color: white;
}
.card{
    background-image: url(../../../../assets/images/1.jpg);
    margin-top: 20px;
    height: 715px;
    background-repeat: no-repeat;
    background-size: cover;
}
.button1{
    margin-top: 50px;
    margin-left: 30px;
    margin-right: 80px;
    background-color:rgb(177, 12, 12); 
    font-size: 20px; 
}
.mat-toolbar {
    background-color:  rgb(128, 118, 118); 
    color:  white;
    font-size: 35px;
}
.button2{
    // margin-right: 10px;
    margin-left: 180px;
    background-color: rgb(17, 104, 17);
    font-size: 20px;
}

@media (max-width:700px){
    .card1{
        width: 200px;
        height: 450px;
        margin: auto;
        font-size: 15px; 
        font-weight: bold;
      }
      .card{
      }
      .button1{         
          font-size: 12px; 
          margin-top: 10px;
          margin-left: 10px;
          margin-right: 0px;
          line-height: 25px;
          font-weight: bold;

        padding: 1px 1px 1px 1px;
      }
      .mat-toolbar {
          font-size: 25px;
      }
      .button2{          
          font-size: 12px;
          margin-top: 0px;
          margin-left: 30px;
          margin-right: 10px;
        line-height: 25px;
        font-weight: bold;
        padding: 1px 1px 1px 1px;
      } 
      .njoy{
          margin:0px;
      }
}