
@media screen and (min-width: 601px) {
 
  .icons{
    color: #ccaa2b;
    margin-right:1%;
    padding: 1%;
    font-size: 25px;
    float: right;
  }
  #copyright
 {
  font-size: 20px;
 }
}


@media screen and (max-width: 600px) {

.icons{
   color: #ccaa2b;
   margin-right:1%;
   padding: 0.5%;
   font-size: 20px;
 }
 #copyright
 {
  font-size: 20px;
 }
}
#copyright
 {
 color: #ccaa2b;
 float: left;
 padding-left: 1.5%;
 padding-top: 1%;
 margin: auto;
 position: relative;
 font-family: cursive;
 font-style: italic;
 
 }
 #footercss
{
 background-color:black !important;
 position: relative;
 top: 92%;
 height: 60px;
 width: 100%;
 z-index: 1;
 opacity: 1;
 }
 

