#copyright
 {
 color: #ccaa2b;
 float: left;
 padding-left: 1.5%;
 padding-top: 0.8%;
 margin: auto;
 position: relative;
 font-family: cursive;
 font-style: italic;
 font-size: 20px;
 }
 #footercss
{
 position: relative;
 top: 94%;
 background-color:black;
 width: 100%;
 height: 10%;
 position: fixed;
 z-index: 1;
 opacity: 1;
 }

 .icons{
   color: #ccaa2b;
   margin-right:1%;
   padding: 1%;
   float: right;
   font-size: 25px;
 }