#reg {
   background-image: linear-gradient(to bottom, rgb(236, 236, 203), rgba(196, 196, 218, 0.651)),
  url("https://blog.hubspot.com/hs-fs/hub/53/file-2408128213-png/00-Blog_Thinkstock_Images/tagline-quiz.png");
  min-height:105vh;

  overflow-y: hidden;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  // margin-top: 60px;
  // margin-top: 45px;
  // margin-left: -2px;
  // margin-right: -2px;
  // margin-bottom: 2px;
  // padding-bottom: 34px;
  margin-bottom: 0px;

}
mat-step
.example-card {
  flex-wrap: wrap;
}
.container {
  text-align: center;
}
.container h1 {
  text-align: center;
}
.container2 {
  margin-left: 30px;
}
// #step{
//   margin-top: 900px;
// }
mat-card {
  margin-top: 10px;
  margin-left: 510px;
  width: 500px;
  height: 320px;
  background-color: gainsboro;
}
.laststep {
  margin-left: 130px;
}
.submit {
  float: right;
  top: 90px;
}
p {
  font-family: sans-serif;
  text-align: center;
}
h3 {
  text-align: center;
  font-family: sans-serif;
}
h2 {
  margin-left: 43.5%;
  font-family: sans-serif;
}
.username {
  margin-top: 2%;
  margin-left: 40.5%;
  width: 20%;
}
.mat-raised-button {
  margin-left: 47%;
  background-color: lightgray;
  margin-bottom: 60px;
}
.password {
  margin-left: 40.5%;
  width: 20%;
}
.emailid {
  margin-left: 40.5%;
  width: 20%;
}
.username {
  margin-left: 40.5%;
  width: 20%;
}
.button {
  margin-left: 34%;
  width: 40%;
  height: 100px;
}
.nextbtn {
  margin-left: 80%;
}
.prebtn {
  margin-right: 90%;
  margin-bottom: 100px;
}
.prebtn1 {
  float: left;
  top: 90px;
}
.inside1 {
  padding: 10px;
  width: auto;
  height: auto;
  line-height: 50px;
  font-weight: bolder;
  font-size: 2em;
  text-align: center;
  margin-left: 60px;
}
.inside {
  padding: 10px;
  width: auto;
  height: auto;
  line-height: 50px;
  font-weight: bolder;
  font-size: 2em;
  text-align: center;
   margin-left: 60px;
}
li {
  text-decoration: none;
  display: inline;
  margin: 1px;
}
.mat-radio-button {
  margin-left: 16px;
}
.gender {
  margin-left: 42.5%;
}
.container h3 {
  // text-align: center;
  display: flex;
   margin-left: 450px;
  font-family: sans-serif;
}
.container2 h3 {
  text-align: center;
  display: flex;
  margin-left: 590px;
  font-family: sans-serif;
}

// @media (max-width:1032px)
// {
//   .container {
//     padding-left: 150px;
// }
// .mat-card {
//   margin-top: 10px;
//   margin-left: 230px;
//   width: 500px;
//   height: 300px;
//   background-color: gainsboro;
// }
// .inside {
//   padding: 10px;
//   width: auto;
//   height: auto;
//   line-height: 50px;
//   font-weight: bolder;
//   font-size: 2em;
//   text-align: center;
//   padding-top: 10px;
//   margin-bottom: 2px;
//   margin-left: 10px;
//   margin-right: 10px;
// }
// }

@media (max-width: 375px){
.inside[_ngcontent-c1][_ngcontent-c1][_ngcontent-c1][_ngcontent-c1] {
    padding: 5px;
    width: auto;
    height: auto;
    line-height: 50px;
    font-weight: bolder;
    font-size: 2em;
    text-align: center;
    margin-left: 0px;
    margin-bottom: 2px;
}
}


@media (max-width: 750px) {
 
  #selectGenre{
    margin-left: 10px;
  }
.mat-card {
    margin-top: 10px;
    margin-left: 100px;
    width: 500px;
    height: 300px;
    background-color: gainsboro;
}
.container2[_ngcontent-c1][_ngcontent-c1] h3[_ngcontent-c1][_ngcontent-c1] {
  display: flex;
  margin-left: 13px;
}
.container[_ngcontent-c1][_ngcontent-c1][_ngcontent-c1] h3[_ngcontent-c1][_ngcontent-c1][_ngcontent-c1] {
  display: flex;
  margin-left: -108px;
}
.image{
  width: 150px;
  height: 75px;
}
.inside {
    height: 15px;
    width: 15px;
    /* height: 120px; */
    line-height: 50px;
    font-weight: bolder;
    font-size: 2em;
    text-align: center;
    margin-left: 0px;;

}
.inside1 {
  height: 15px;
  width: 15px;
  /* height: 120px; */
  line-height: 50px;
  font-weight: bolder;
  font-size: 2em;
  text-align: center;
}
.inside1[_ngcontent-c1][_ngcontent-c1][_ngcontent-c1] {
  padding: 2px;
  margin-left: -164px;
  margin-right: 118px;
  margin-bottom: 8px;
}

.inside[_ngcontent-c1][_ngcontent-c1][_ngcontent-c1] {
  padding: 2px;
  margin-left: 22px;
  margin-bottom: 10px;
  margin-right: -9px;
}
.prebtn {
    margin-right: 537px;
    margin-top: -20px;
}
.username {
  margin-left: 25%;
  width: auto;
}
.password {
    margin-left: 25%;
    width: auto;
}
.gender {
  margin-left: 25%;
}
h2 {
  margin-left: 26%;
  font-family: sans-serif;
}

.emailid {
    margin-left: 25%;
    width: auto;
}
.laststep {
  margin-left: 100px;
}

.container[_ngcontent-c2] h3[_ngcontent-c2] {
  display: flex;
  margin-left: 189px;
  font-family: sans-serif;
}

}
@media (max-width:375px ) {
  .mat-card {
    margin-top: 10px;
    width: 300px;
    height: 300px;
    background-color: gainsboro;
}
.prebtn[_ngcontent-c1][_ngcontent-c1][_ngcontent-c1] {
    margin-right: 178px;
    margin-bottom: 100px;
}
.mat-horizontal-stepper-header .mat-step-icon {
  margin-right: auto;
  margin-left: auto;
  flex: none;
}
.inside[_ngcontent-c1][_ngcontent-c1][_ngcontent-c1] {
    padding: 10px;
    width: auto;
    height: auto;
    line-height: 50px;
    font-weight: bolder;
    font-size: 2em;
    text-align: center;
    margin-left: -59px;
    margin-bottom: -45px;
}
.laststep {
  margin-left: 80px;
}
}

@media (max-width: 320px) {
.mat-card {
    margin-top: 10px;
    margin-left: px;
    width: 250px;
    height: 350px;
    background-color: gainsboro;
}

// .laststep {
//   margin-left: auto;
// }
.laststep {
    margin-left: auto;
}

.b {
  margin-top:50px;
}
.username {
    margin-left: 15%;
    width: auto;
}
.password {
    margin-left: 14%;
    width: auto;
}

.emailid {
    margin-left: 15%;
    width: auto;
}


.gender {
    margin-left: 15%;
}
.wrap {
  float: right;
  position: relative;
  top: 20px;
  margin-right: auto;
  margin-left: auto;
  /* right: 10px; */
  color: 0;
  color: black;
}
.inside1[_ngcontent-c1][_ngcontent-c1][_ngcontent-c1] {
    padding: 10px;
    width: auto;
    height: auto;
    line-height: 50px;
    font-weight: bolder;
    font-size: 2em;
    text-align: left;
    margin-left: -148px;
}
.inside[_ngcontent-c1][_ngcontent-c1][_ngcontent-c1][_ngcontent-c1] {
    padding: 10px;
    width: auto;
    height: auto;
    line-height: 50px;
    font-weight: bolder;
    font-size: 2em;
    text-align: center;
    margin-left: -87px;
    margin-bottom: -45px;
}
.prebtn[_ngcontent-c1][_ngcontent-c1][_ngcontent-c1][_ngcontent-c1] {
    margin-right: 120px;
    margin-bottom: 100px;
}
}

// @media (max-width:1032px)
// {
//   .container {
//     padding-left: 150px;
// }
// .mat-card {
//   margin-top: 10px;
//   margin-left: 230px;
//   width: 500px;
//   height: 300px;
//   background-color: gainsboro;
// }
// .inside {
//   padding: 10px;
//   width: auto;
//   height: auto;
//   line-height: 50px;
//   font-weight: bolder;
//   font-size: 2em;
//   text-align: center;
//   padding-top: 10px;
//   margin-bottom: 2px;
//   margin-left: 10px;
//   margin-right: 10px;
// }
// }



@media (max-width: 768px) {
.mat-card {
    margin-top: 10px;
    margin-left: 100px;
    width: 500px;
    height: 300px;
    background-color: gainsboro;
}
.inside[_ngcontent-c1] {
    padding: 10px;
    width: auto;
    height: auto;
    line-height: 50px;
    font-weight: bolder;
    font-size: 2em;
    text-align: center;
    margin-left: -49px;
}
.container2{
  margin-left: -23px;
  padding-left: auto;
  margin-top: -17px;
}
.prebtn[_ngcontent-c1] {
    margin-right: 566px;
    margin-bottom: 100px;
}
.container[_ngcontent-c1] h3[_ngcontent-c1] {
  display: flex;
  margin-left: 212px;
  font-family: sans-serif;
}
.inside1[_ngcontent-c1] {
  padding: 10px;
  width: auto;
  height: auto;
  line-height: 50px;
  font-weight: bolder;
  font-size: 2em;
  text-align: left;
  margin-left: 0px;
}

// .inside {
//     padding: 10px;
//     width: 170px;
//     height: 120px;
//     line-height: 50px;
//     font-weight: bolder;
//     font-size: 2em;
//     text-align: center;
//     margin-left: -39px;
// }

.container{
    padding-left: 100px;
}
}
@media (max-width: 425px) {
  .mat-card {
    margin-top: 10px;
    margin-left: auto;
    width: 350px;
    height: 300px;
    background-color: gainsboro;
}
.container[_ngcontent-c1][_ngcontent-c1] h3[_ngcontent-c1][_ngcontent-c1] {
  display: flex;
  margin-left: -118px;
  font-family: sans-serif;
}
.inside1[_ngcontent-c1][_ngcontent-c1] {
    padding: 10px;
    width: auto;
    height: auto;
    line-height: 50px;
    font-weight: bolder;
    font-size: 2em;
    text-align: left;
    margin-left: -120px;
}

// .inside1 {
//     padding: 0px;
//     padding: -20px;
//     width: auto;
//     height: auto;
//     line-height: 50px;
//     font-weight: bolder;
//     font-size: 2em;
//     text-align: center;
//     margin-left: auto;
// }

.inside[_ngcontent-c1][_ngcontent-c1] {
  padding: 10px;
  width: auto;
  height: auto;
  line-height: 50px;
  font-weight: bolder;
  font-size: 2em;
  text-align: center;
  margin-left: -34px;
  margin-bottom: -45px;
}
.prebtn[_ngcontent-c1][_ngcontent-c1] {
    margin-right: 222px;
    margin-bottom: 100px;
}
.container h3 {
 
  text-align: center;
  display: flex;
  margin-left: 60px;
  font-family: sans-serif;
}

.container2[_ngcontent-c1] h3[_ngcontent-c1] {
    text-align: center;
    display: flex;
    margin-left: -5px;
    font-family: sans-serif;
}

.username {
  margin-left: 25%;
  width: auto;
}
.password {
    margin-left: 25%;
    width: auto;
}
.gender {
  margin-left: 25%;
}
h2 {
  margin-left: 26%;
  font-family: sans-serif;
}

.emailid {
    margin-left: 25%;
    width: auto;
}
.laststep {
  margin-left: 100px;
}
}
@media (max-width:1024px ) {

 .container2 h3 {
  text-align: center;
  display: flex;
  margin-left: 320px;
  font-family: sans-serif;
}}
@media (max-width:375px ) {
  .mat-card {
    margin-top: 10px;
    margin-left: px;
    width: 300px;
    height: 300px;
    background-color: gainsboro;
}

.mat-horizontal-stepper-header .mat-step-icon {
  margin-right: auto;
  margin-left: auto;
  flex: none;
}
.laststep[_ngcontent-c2] {
  margin-left: 80px;
}
}
@media (max-width:320px ) {
.mat-card[_ngcontent-c2] {
    margin-top: 10px;
    margin-left: px;
    width: 250px;
    height: 350px;
    background-color: gainsboro;
}
//   .mat-card {
//     margin-top: 10px;
//     margin-left: px;
//     width: 250px;
//     height: 300px;
//     background-color: gainsboro;
// }


.inside[_ngcontent-c2][_ngcontent-c2][_ngcontent-c2][_ngcontent-c2][_ngcontent-c2] {
    padding: 0px;
    width: auto;
    height: auto;
    line-height: 50px;
    font-weight: bolder;
    font-size: 2em;
    text-align: center;
    margin-bottom: -42px;
    margin-left: -75px;
}
.inside1[_ngcontent-c2][_ngcontent-c2][_ngcontent-c2] {
  padding: 0px;
  padding: -20px;
  width: auto;
  height: auto;
  line-height: 50px;
  font-weight: bolder;
  font-size: 8em;
  text-align: center;
  margin-left: -128px;
  padding-left: -24px;
}
.prebtn[_ngcontent-c2][_ngcontent-c2][_ngcontent-c2][_ngcontent-c2] {
    margin-right: 121px;
    margin-bottom: 55px;
}
.b {
  margin-top:50px;
}
.username {
    margin-left: 15%;
    width: auto;
}
.password {
    margin-left: 14%;
    width: auto;
}

.emailid {
    margin-left: 15%;
    width: auto;
}


.gender {
    margin-left: 15%;
}
.wrap {
  float: right;
  position: relative;
  top: 20px;
  margin-right: auto;
  margin-left: auto;
  /* right: 10px; */
  color: 0;
  color: black;
}
.laststep[_ngcontent-c2][_ngcontent-c2] {
    margin-left: 20px;
}
}
@media (max-width:1440px ) {

.inside {
  padding: 10px;
  width: auto;
  height: auto;
  line-height: 50px;
  font-weight: bolder;
  font-size: 2em;
  text-align: center;
  margin-left: 20px;
}
}
@media (max-width:1024px ) {

.prebtn {
  margin-right: 800px;
  margin-bottom: 100px;
}
.inside {
    padding: 10px;
    width: auto;
    height: auto;
    line-height: 50px;
    font-weight: bolder;
    font-size: 2em;
    text-align: center;
    margin-left: -40px;
}
}
@media (max-width: 425px) {
  .inside[_ngcontent-c2][_ngcontent-c2][_ngcontent-c2] {
      padding: 0px;
      width: auto;
      height: auto;
      line-height: 50px;
      font-weight: bolder;
      font-size: 2em;
      text-align: center;
      margin-bottom: -14px;
      margin-left: -22px;
  }
.container[_ngcontent-c2][_ngcontent-c2] h3[_ngcontent-c2][_ngcontent-c2] {
    display: flex;
    margin-left: -124px;
    font-family: sans-serif;
}
.container2[_ngcontent-c2] h3[_ngcontent-c2] {
    text-align: center;
    margin-left: auto;
    display: flex;
    margin: left;
    font-family: sans-serif;
}
.inside1[_ngcontent-c2] {
    padding: 0px;
    padding: -20px;
    width: auto;
    height: auto;
    line-height: 50px;
    font-weight: bolder;
    font-size: 8em;
    text-align: center;
    margin-left: -76px;
    padding-left: 0px;
}

.prebtn[_ngcontent-c2][_ngcontent-c2] {
  margin-right: 219px;
  margin-bottom: 100px;
}

}
@media (max-width: 375px) {
  .inside[_ngcontent-c2][_ngcontent-c2][_ngcontent-c2][_ngcontent-c2] {
      padding: 0px;
      width: auto;
      height: auto;
      line-height: 50px;
      font-weight: bolder;
      font-size: 2em;
      text-align: center;
      margin-bottom: -42px;
      margin-left: -47px;
  }

.inside1[_ngcontent-c2][_ngcontent-c2] {
    padding: 0px;
    padding: -20px;
    width: auto;
    height: auto;
    line-height: 50px;
    font-weight: bolder;
    font-size: 8em;
    text-align: center;
    margin-left: -101px;
    padding-left: -24px;
}
.prebtn[_ngcontent-c2][_ngcontent-c2][_ngcontent-c2] {
    margin-right: 166px;
    margin-bottom: 55px;
}

}


.row {
  display: flex !important;
  flex-direction: row !important;
  flex-wrap: wrap !important;
  justify-content: center !important;
  width: 100% !important;
}

[class*="col-"] {
  width: 100% !important;
}

@media only screen and (min-width: 768px) {
  .col-1 {
    width: 8.33% !important;
  }
  .col-2 {
    width: 16.66% !important;
  }
  .col-3 {
    width: 25% !important;
  }
  .col-4 {
    width: 33.33% !important;
  }
  .col-5 {
    width: 41.66% !important;
  }
  .col-6 {
    width: 50% !important;
  }
  .col-7 {
    width: 58.33% !important;
  }
  .col-8 {
    width: 66.66% !important;
  }
  .col-9 {
    width: 75% !important;
  }
  .col-10 {
    width: 83.33% !important;
  }
  .col-11 {
    width: 91.66% !important;
  }
  .col-12 {
    width: 100% !important;
  }
}

.p-20 {
    padding: 20px !important;
}

.p-15 {
  padding: 15px !important;
}

.p-10 {
  padding: 10px !important;
}

.p-5 {
  padding: 5px !important;
}

.p-auto {
    padding: auto !important;
}

.m-20 {
    margin: 20px !important;
}

.m-15 {
  margin: 15px !important;
}

.m-10 {
  margin: 10px !important;
}

.m-5 {
  margin: 5px !important;
}

.m-auto {
    margin: auto !important;
}

.p-auto {
  padding: auto !important;
}

.t-center {
  text-align: center !important;
}