
<mat-horizontal-stepper linear>
  <mat-step #myStep [stepControl]="formGroup1" optional editable="true">
    <form [formGroup]="formGroup1">
      <mat-form-field appearance="outline" class="username">
        <mat-label for="userName">userName</mat-label>
        <input
          matInput
          placeholder="userName"
          formControlName="firstCtrl"
          autocomplete="off"
          [(ngModel)]="userName"
          name="userName"
          required
        />
      </mat-form-field>
      <br />
      <mat-form-field appearance="outline" class="password">
        <mat-label for="psw">Password</mat-label>
        <input
          type="password"
          matInput
          placeholder="password"
          name="psw"
          formControlName="firstCtrl"
          autocomplete="off"
          [(ngModel)]="password"
          name="password"
          required
        />
        <mat-hint></mat-hint>
      </mat-form-field>
      <br />

      <mat-form-field appearance="outline" class="confirmpassword">
        <mat-label for="psw">confirmPassword</mat-label>
        <input
          type="password"
          matInput
          placeholder="Confirm password"
          name="psw"
          formControlName="firstCtrl"
          autocomplete="off"
          [(ngModel)]="confirmPassword"
          required
        />
        <mat-hint></mat-hint>
      </mat-form-field>
      <br />
      <mat-form-field appearance="outline" class="emailid">
        <mat-label for="emailid">emailId</mat-label>
        <input
          matInput
          placeholder="emailId"
          autocomplete="off"
          [(ngModel)]="emailId"
          name="emailId"
          formControlName="firstCtrl"
          required
        />
      </mat-form-field>
      <br />
      <mat-radio-group
        appearance="outline"
        class="gender"
        name="gender"
        required
      >
        <mat-label>Gender</mat-label>
        <mat-radio-button value="1">Male </mat-radio-button>
        <mat-radio-button value="2">Female</mat-radio-button>
      </mat-radio-group>
      <br />
      <br />
      <br />

      <button mat-button class="nextbtn" matStepperNext>Next</button>
    </form>
  </mat-step>

  <mat-step #myStep [stepControl]="formGroup2" optional editable="true">
    <form [formGroup]="formGroup2">
      <section class="container">
        <mat-card class="example-card">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
          </mat-card-header>
          <img
            mat-card-image
            src="https://ak1.picdn.net/shutterstock/videos/13811981/thumb/9.jpg"
            alt="Photo"
          />
        </mat-card>
        <mat-card class="example-card1">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
          </mat-card-header>
          <img
            mat-card-image
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRXc1AyI6o9J0H8PKOe2bNzOk_TbNuXEcO9XpK6QsLcOwp0lY35"
            alt="Photo"
          />
        </mat-card>
      </section>

      <section class="container1">
        <mat-card class="example-card">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
          </mat-card-header>
          <img
            mat-card-image
            src="https://tubeoh.com/wp-content/uploads/2018/10/2018-film-action-hd-film-action-barat-terbaik-2018-sub-indo-320x180.jpg"
            alt="Photo"
          />
        </mat-card>
        <mat-card class="example-card1">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
          </mat-card-header>
          <img
            mat-card-image
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRWTUcFxHy46_A64Uyi_8VklSo-JXeyl7J7hNuHTG5yQcSmV0ZP"
            alt="Photo"
          />
        </mat-card>
        <mat-card class="example-card1">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
          </mat-card-header>
          <img mat-card-image src="" alt="Photo" />
        </mat-card>
        <mat-card class="example-card1">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
          </mat-card-header>
          <img
            mat-card-image
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQKHJB12KhCu7D51-Jf4mXGQty4_LncW2BwX1JCeW_Uh6KrbXEX"
            alt="Photo of a Shiba Inu"
          />
        </mat-card>
      </section>
      <br />

      <section class="container2">
        <mat-card class="example-card1">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
          </mat-card-header>
          <img
            mat-card-image
            src="https://vignette.wikia.nocookie.net/logopedia/images/f/f9/Comedy_Central_HD.png/revision/latest?cb=20110408015054"
            alt="Photo"
          />
        </mat-card>
        <mat-card class="example-card1">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
          </mat-card-header>
          <img
            mat-card-image
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTk1rIREyTDvG-Rde6HuYa2Oea8q1Nd4pC0MCZzp2BxheittWrF"
          />
        </mat-card>
        <mat-card class="example-card1">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
          </mat-card-header>
          <img
            mat-card-image
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRWTUcFxHy46_A64Uyi_8VklSo-JXeyl7J7hNuHTG5yQcSmV0ZP"
            alt="Photo"
          />
        </mat-card>
        <mat-card class="example-card1">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
          </mat-card-header>
          <img
            mat-card-image
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSo156JjkV6NcPB244IyQzG7dBw8Zg0g3yIESLZVwyvZzCYCMxG"
            alt="Photo"
          />
        </mat-card>
      </section>
      <br />
      <button mat-button class="prebtn" matStepperPrevious>Back</button>

      <button
        mat-raised-button
        class="btn"
        (click)="submit($event)"
        matStepperNext
      >
        Submit
      </button>
    </form>
  </mat-step>
  <mat-step #myStep [stepControl]="formGroup3" optional editable="false">
    <form [formGroup]="formGroup3">
      <p>
        <b> Thank you for registering</b> <br /><br />

        <b> You have successfully signed up as a user!</b>
      </p>
      <br />
      <br />
      <button
        mat-raised-button
        class="mat-raised-button"
        [routerLink]="['/login']"
      >
        Login
      </button>
    </form>
  </mat-step>
</mat-horizontal-stepper>

