<!-- 
<mat-form-field appearance="inline" >
  <div class="box">
      <input matInput placeholder="Search for product, brand and more" (input)="search($event.target.value)">
      <mat-icon (click)="openSearch()"  matSuffix>search</mat-icon>
    </div>
  </mat-form-field> -->

<div class="container">
  <!-- <div *ngFor="let q of quiz"> -->
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{ game.description }}</mat-card-title>
      <mat-card-subtitle>{{ game.gameName }}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="{{ game.imageUrl }}" alt="Game image">
    <mat-card-content>
      <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>PLAY</button>
        <button mat-button>DETAILS</button>
      </mat-card-actions>
    </mat-card-content>
  </mat-card>
</div>
