<div>
  <mat-form-field class="ser" appearance="outline" >
        <input type="search" matInput placeholder="Search for quizes" (input)="search($event.target.value)">
        <mat-icon  matSuffix>search</mat-icon>
  </mat-form-field>
</div>

<!-- <mat-form-field appearance="outline">
  <mat-label>Outline form field</mat-label>
  <input matInput placeholder="Placeholder">
  <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
  <mat-hint>Hint</mat-hint>
</mat-form-field> -->

<!-- <input type="text" name="" id="" (input)="search($event.target.value)"> -->

<!-- <app-card *ngFor="let track of tracks" [track]="track" class="track-card"
    (trackAddEvent)="addToPlayList($event)"
    ></app-card> -->
  
  <div class="row" fxLayout.xs="column">
    <div fxLayout="" fxLayoutGap="32px" fxLayoutAlign="flex-start" *ngFor='let q of game'>
        <div fxFlex="20%">
    <mat-card class='product--blue'>
      <mat-card-header>  
         
          <img mat-card-image src="{{q.imageUrl}}" alt="">
          <mat-card-title>
              {{ q.name }}
          </mat-card-title>
          <mat-card-actions align="center">
              <button mat-raised-button>LIKE</button>
              <button mat-raised-button>PLAY</button>
              <button mat-raised-button  [routerLink]="[ '/gamedetails']">DETAILS</button>
          </mat-card-actions>
    </mat-card-header> 
  </mat-card>
  </div>
    </div>
  </div>
  
