/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
html,
body{
    background-color: whitesmoke;
    overflow-x: hidden;
    margin: 0px !important;
    padding: 0px !important;
    font-family: Roboto,"Helvetica Neue",sans-serif;
}